@import "tailwindcss";

.dark-topo {
  filter: brightness(0.8) contrast(1.2) saturate(1.4);
}

.leaflet-control-attribution {
  display: none !important;
}

.p-menubar-button {
  display: none !important;
}
